<!doctype html>

<html lang="en">
	<head>
		<title>Damodar Sahasrabudhe</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">


	</head>
	<body>
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/">Damodar Sahasrabudhe</a></div>
				{% include navigation.html %}
			</div>
		</header>

		<div class="content">
			{% for sec in site.data.sections %}
				<section>
					<div class="container flex">
						<div class="text editable">
							<h2> {{ sec.title }} <hr> </h2>
							<body>
								<p> {{ sec.body }} </p>
							</body>
						</div>
					</div>
				</section>
			{% endfor %}
		</div>

		{{ content }}


		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
